* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: pink;
}



html {
  font-size: 62.5%;
}


ul li {
	float: left;
	width: 25%;
	border: 2px solid black;
	
}

h3 {
clear: both;
}


p {
  font-size: 3rem;

}

@media screen and (min-width: 780px) and (max-width: 1024px) { /*y landscape???*/
	
}

@media screen and (min-width: 480px) and (max-width: 780px) {
		
}


@media screen and (max-width: 480px) {

}
