* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: pink;
}



html {
  font-size: 62.5%;
}


ul {
padding: 0px;
}

ul li {
	float: left;
	width: 25%;
	border: 2px solid black;
	list-style: none;
	font-size: 2rem;
	text-align: center;
	
	
}

h1 {
clear: both;
}


p {
  font-size: 2.2rem;

}

.portfolio {
	display: flex;
	justify-content: space-between;
	
	width: 100%;
	height: 50%;
}


.box {
	width: 100px;
	height: 100px;
	margin: 20px auto;
	background-color: red;
}

.experiencia-laboral {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

@media screen and (min-width: 780px) and (max-width: 1024px) { /*y landscape???*/
	
}

@media screen and (min-width: 480px) and (max-width: 780px) {
		
}


@media screen and (max-width: 480px) {

}
